button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--light);
    z-index: 1;
    background: var(--primary);
    position: relative;
    font-weight: 1000;
    font-size: 17px;

    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--light);
    z-index: -1;
    transition: all 250ms   ;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
   
   button:hover {
    color: var(--primary);
   }
   
   button:hover::before {
    width: 100%;
   }