:root{
    --primary: #E5004F;
    --white: #FFF;
    --dark: #272726;
    --gray: #9EA1A2;
    --light: #F3F1F1;
    --ptb: 80px;
    --obvia-expanded: obvia-expanded, sans-serif;
    --obvia-regular: obvia, sans-serif;
    --imb-plex-sans: ibm-plex-sans, sans-serif;

}
* {
    border: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family:  var(--imb-plex-sans) !important;
    color: var(--dark);
    font-size: 19px;

}
#parallax{
    background-image: url(../img/parallax.png);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.plr-20{
    padding-left: 50px;
    padding-right: 50px;
}

.hero-parallax{
    background-image: url(../img/crescent.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.blur{
    filter: blur(50px);
    -webkit-filter: blur(50px);
}
.img-fluid{
    width: 100% !important;
    height: auto;
}
#projects{
    background-image: url(../img/line.png);
    background-position: center;
    background-repeat: no-repeat;

}
footer{
    background-color: var(--primary);
    
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--obvia-expanded) !important;
}

.text-bold{
    font-weight: 800;
}
.text-light{
    font-weight: 300;
}
.text-color-primary{
    color: var(--primary);
}
.text-color-white{
    color: var(--white);
}
.text-color-gray{
    color: var(--gray) !important;
}
.text-center{
    text-align: center;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
    animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
}
.mt-10{
    margin-top: 10rem !important;
}
.mt-4{
    margin-top: 2rem !important;
}
.mt-6{
    margin-top: 4rem !important;
}
.mt-7{
    margin-top: 5rem !important;
}
.mt-8{
    margin-top: 6rem !important;
}
.mb-10{
    margin-bottom: 10rem !important;
}
.mr-1{
    margin-right: 0.25rem !important;
}

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--light);
    z-index: 1;
    background: var(--primary);
    position: relative;
    font-weight: 1000;
    font-size: 17px;

    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--light);
    z-index: -1;
    transition: all 250ms   ;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
   
   button:hover {
    color: var(--primary);
   }
   
   button:hover::before {
    width: 100%;
   }